.homeBody{
    background: url(../images/homeBg.png) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.waveBg{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.homeImg{
    position: absolute;
    width:40em;
    top:45vh;
    left:5vw;
}
.logo{
    margin: 0;
    padding: 0;
    aspect-ratio:1;
    width:8em;
}
.logoDiv{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:0;
    top:9vh;
    left: 8vw;
}
.logoTitle{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}
.signIn{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
    line-height: 66px;
    text-align: center;
    color: #000000;
    text-decoration:underline;
}
.subTitle{
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    align-self:flex-start;
    text-transform: capitalize;
    
    color: #000000;
}
.textBox{
    width: 337.82px;
    height: 46.11px;    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(229, 229, 229, 0.13);
    border-radius: 10px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.loginButton{
    width: 277.7px;
    height: 43.8px;
    background: #90B5A9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    border:none;
    margin-top: 3vh;
}
.loginButton:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.1);
}
.loginButton:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}
.formBody{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 2vh;
    padding: 5vh 10vh 5vh 10vh;
}
.formDiv{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;    
    position: absolute;
    height:min-content;
    background: #E6C7A2;
    border-radius: 50px;
    top:20vh;
    right:10vw;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:2vw;
    padding-right: 2vw;
    padding-top: 3vh;
}
.navBtn{
    width: 7vw;
    height: 5vh;    
    background: rgba(84, 84, 84, 0.8);
    border-radius: 50px;
    border: none;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
    text-transform: capitalize;
    color: #F5F5F5;
    cursor: pointer;
}
.navBtn:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.1);
}
.navBtn:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}
.hamImg{
    width:2.5vw;
    cursor: pointer;
}